.PageCurrentEmpList {
    display: flex;

    .LoopWrapperCardCurrentEmp {
        display: flex;
        flex-wrap: wrap;
    }
}

.LoopWrapperCardCurrentEmp {
    display: flex;
    flex-wrap: wrap;
}

.CardCurrentEmpWrapper {
    position: relative;
    background: $white-color;
    padding: 40px 20px;
    margin: 40px 0 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px #0000003b;
    min-width: 320px;
    margin: 64px 24px 0px 0px;

    .empImage {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translate(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50px;
        outline: 4px solid $main-color;
        outline-offset: 4px;
    }

    img {
        // width: 80px;
        // height: 80px;
        // border-radius: 50px;
        // outline: 4px solid $main-color;
        // outline-offset: 4px;
    }

    .cardHeading {
        font-size: 20px;
        color: $black-color;
        margin: 16px 0 5px;
        display: inline-block;
        text-transform: capitalize;
    }

    h4 {
        font-size: 16px;
        color: $black-color;
        text-transform: capitalize;
    }

    h5 {
        font-size: 20px;
        color: $black-color;
    }

    p {
        font-size: 16px;
        color: #555555;
    }

    span {
        font-size: 16px;
        color: #555555;
        display: block;
    }
}

.archivedrecord {
    .archieve-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.filter-drop {
    display: flex;
    column-gap: 15px;
}

.newemployeeapprove {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 15px;

    span {
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        border-radius: 50px;

        img {}
    }
}