.PgArchievedWrapper{
    .Main-drop{
        display: flex;
        align-items: center;
    }
    .drop-item{
        margin-left: 10px;
    }
  .dropHead {
    border: 1px solid grey;
    outline: none;
    margin-left: 10px;
    color: grey;

}

   .LoopWrapperCardCurrentEmp{
   display: flex;
   flex-wrap: wrap;
   
   }}